<h1>Wacky Widgets</h1>


<% if (widgets.length === 0) { %>
    <h3>No Widgets Exist</h3>
    <% } else { %>
        <% widgets.forEach(widget => { %>
            <div>
                <form action="/<%=widget.id%>/?_method=DELETE" method="POST">
                    <h3><%= widget.description %></h3>
                    <p><%= widget.quantity %></p>
                    <input type="submit" value="Delete">
                </form>
            </div>
        <% }) %>   
    <% } %>

<hr>

<h4>Add Widget</h4>
<form action="/" method="POST">
    <input type="text" name="description" placeholder="Widget description...">
    <input type="text" name="quantity" placeholder="Widget quantity...">
    <button type="submit">ADD WIDGET</button>
</form>
